.swimlane {
  border: 2px solid #7d7105;
  width: 30%;
  min-height: 350px;
  min-width: 250px;
  padding: 10px;
  background-color: #ffffff;
  border-top-left-radius: 40px;
  border-bottom-right-radius:40px;
  border-bottom-left-radius:40px;
}

@media only screen and(max-width: 768px){
  .swimlane {
    width: 50%;
    max-width: 300px;
  }
}
